{{extend "base.html"}}


{{block content}}

<div class="container" style="margin-top:100px">  
     <form action="/login" method="post" class="well" style="width:220px;margin:0px auto;">
       <h3>欢迎使用chat</h3>
       <%
String code = request.getParameter("code");
if(code != null && "10001".equals(code)){
       %>
<div style="color:red;font-size:18px">用户名或密码错误</div>
<%} else if(code != null && "10002".equals(code)) { %>
<div style="color:red;font-size:18px">请输入用户名或密码</div>
<%} else if(code != null && "10005".equals(code)) {%>
<div style="color:red;font-size:18px">请先登录</div>
<%} %>
<label>用户名:</label>
<input type="text" name="username" style="height:30px" class="span3" placeholder="选个酷一点的名字"/>
<button type="submit" class="btn btn-primary">进入聊天室</button>
   </form>
 </div>

{{end}}