{{extend "base.html"}}

{{block body_tag}}<body class="bootstrap-body">{{end}}


{{block content}}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">UChat聊天室</a>
      <div class="nav-collapse">

        <ul class="nav">
          <li class="active"><a href="#">主页</a></li>
          <li><a href="#about">关于</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

      <p class="pull-right">欢迎 <a href="#">username</a></p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
{{end}}    

